// Primary - Grey
$primary-grey-900: #15161A;
$primary-grey-700: #2A2C33;
$primary-grey-500: #40434D;
$primary-grey-300: #6A6F80;
$primary-grey-100: #949BB2;


// Primary - Red
$primary-red-900: #BD0917;
$primary-red-700: #D6202E;
$primary-red-500: #EF3C4A;
$primary-red-300: #F76F7A;
$primary-red-100: #FFA6AD;


// Primary - Green
$primary-green-900: #175417;
$primary-green-700: #338732;
$primary-green-500: #59BB58;
$primary-green-300: #7AD479;
$primary-green-100: #A0ED9F;


// Accent - Yellow
$accent-yellow-900: #CCA509;
$accent-yellow-700: #E5B90A;
$accent-yellow-500: #FECD0B;
$accent-yellow-300: #FEDC56;
$accent-yellow-100: #FEECA3;


// Accent - Blue
$accent-blue-900: #0F93BA;
$accent-blue-700: #26ACD4;
$accent-blue-500: #42C6ED;
$accent-blue-300: #42C6ED;
$accent-blue-100: #42C6ED;


// Accent - Purple
$accent-purple-900: #BD3371;
$accent-purple-700: #D64F8C;
$accent-purple-500: #EF70A9;
$accent-purple-300: #F78DBD;
$accent-purple-100: #FFABD1;


// Neutral
$neutral-900: #B4BCCC;
$neutral-700: #CED4E0;
$neutral-500: #F0F1F5;
$neutral-300: #FAFBFF;
$neutral-100: #FFFFFF;

// Error colors
$error-900: #BD0917;
$error-700: #D6202E;
$error-500: #EF3C4A;
$error-300: #F76F7A;
$error-100: #FFA6AD;