
// Font sizes
$font-size-11: 64px;
$font-size-10: 54px;
$font-size-9: 48px;
$font-size-8: 40px;
$font-size-7: 32px;
$font-size-6: 24px;
$font-size-5: 18px;
$font-size-4: 16px;
$font-size-3: 14px;
$font-size-2: 12px;
$font-size-1: 10px;



// Font weight
$font-weight-bold: 900;
$font-weight-semi: 600;
$font-weight-regular: 400;


// Radius
$radius-l: 60px;
$radius-m: 14px;
$radius-s: 12px;


// Padding
$padding-s: 7px;
$padding-m: 12px;
$padding-l: 20px;


//Border radius
$border-radius-s: 5px;
$border-radius-m: 20px;


